body {
    color: #666666;
    font-size: 14px !important;
    line-height: 1.6em;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
}



			/*section-1-header*/



header{
	padding: 0 !important;
	margin: 0 !important;
	background-image: url(Assets/section-1-header/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.opacity{
	height: 100%;
	background-color: rgba(0,0,0,0.78);
	display: flex !important;
	justify-content: center !important;
}
		/*Navbar*/
nav{
	height: 70px;
}
.navbar-brand{
	padding-right: 42% !important;
}
.fa-bars{
	color:#fff;
	font-size:20px;
}
ul{
	padding: 5px;
	display: flex !important;
	justify-content: space-around !important;
}
ul>li{
	padding: 5px;
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
}
ul>li>a{
	opacity: 0.8;
	color: white !important;
}
.aa{
	margin-top: 2px;
}
li>button{
	background-color: rgb(255,255,255) !important;
	color: #222 !important;
	min-width: 150px !important;
	padding: 0.7em 2.1em !important;
	font-size: 14px !important;
	font-weight: 500 !important;
	line-height: 1.5em !important;
	border: 1px solid #eaeaea !important;
	border-radius: 1.6em !important;
	margin: 0 !important;
}
.navbtn{
	padding-top: 20px;
}
		/*Middle*/
.middle-row{
	padding: 12em 0 0 0 !important;
}
.bottom-row{
	padding: 12em 0 6em 0 !important;
}
.introduseing-text{
	font-size: 48px;
	font-family: sans-serif;
}
.about_us-btn{
	min-width: 150px;
	padding: 0.7em 2.1em !important;
	font-size: 15px;
	border-radius: 4px;
	outline: none  !important;;
	background-color: #ff2c55;
	border-color: #ff2c55;
	color: white;
}
.font-family{
	color: white !important;
}
		/*bottom*/
.icons{
	font-size: 42px;
	color: white; 
	opacity: 0.7;
}




			/*section-2-video*/




.general-sections{
	padding-top: 95px !important;
}
.sec-2-heading{
	text-align: center;
}
.section-video-intr-text{
	font-size: 18px;
	text-align: center;
	opacity: 0.7;
	padding: 0 30px !important;
}
		/*video*/
#video-container{
	perspective: 25px;
	padding: 0px !important;
	display: flex;
	justify-content: center;
	align-items: center;
}
#video{
	height: 500px !important;
	width: 90% !important;
	background-color: white !important;
	transition: transform 0.5s !important;
	position: relative;
	border-radius: 5px;
}
.icon-parent{
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 42%;
	left: 46%;
	height: 80px;
	width: 80px;
	border-radius: 100%;
	border: 3px white solid;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding: 40px !important;
}
.play-icon{
	font-size: 30px;
	color: white;
}
		/*open video*/
.absalute{
	position: relative;
}
.open-video{
	width: 70% !important;
	height: 70% !important;
	z-index: 999;
	position: fixed;
	top: 10%;
	left: 15%;
	display: none;
}
iframe{
	height: 100%;
}
.btnclose{
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	height: 40px;
	width: 40px;
	position: absolute; 
	top: 0%;
	right: 0%;
	outline: none;
	padding: 10px;
	font-size: 20px;
	color: white;
	background-color: red;
	cursor: pointer;
}
		/*slider-brands*/
#secondary-slider{
	padding: 0px 70px;
}
.splide__list{
	height: 100% !important;
}
.splide__slide {
	position: relative;
	cursor: pointer !important;
	height: 120px !important;
	width: 120px !important;
}
.slider-case{
	background-color: #222 !important;
	padding-top: 10px;
	height: 150px !important;
	width: 150px !important;
	position: absolute;
	top: 0;
	text-align: center;
	z-index: 88;
	padding: 8px;
	display: none;
}
.slides-top{
	color: white;
	font-size: 18px;
	text-align: left;	
}
.slides-bottom{
	color: white;	
	font-size: 12px;
	text-align: left;
}




				/*section-3-slider*/




.sec{
	background-image: url(Assets/section-3-slider/sliderBackground.jpg);
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center;
	height: 600px !important;
	margin: 90px 0 !important;
	padding: 0 !important;
	color: white;
	position: relative;
	overflow: hidden !important;
}
.slider-case2{
	padding: 30px;
	height: 100% !important;
	width: 100% !important;
}
#secondary-slider2{
	height: 100%;
	width: 100% !important;
}
.splide__track2{
	height: 100% !important;
	width: 100% !important;
}
.splide__slide2{
	background-color: rgba(0,0,0,0.2);
	padding-top: 25%;
	border-right: 1px white solid;
	height: 100% !important;
	width: 25% !important;	
}
.splide__arrow{
	height: 50px !important;
	width: 50px !important;
	padding: 15px;
	background-color: rgba(255,255,255,0.2) !important;
}




				
						/*section-4-plans*/


.sec-4-intro{
	padding-right: 
	font-size: 15px;
}
.sec-4-paragraphs{
	opacity: 0.7;
	text-align: center;
}
.sec-4-more{
	cursor: pointer;
}
.sec4-cols-parents{
	padding: 15px !important;
	box-shadow: 1px 1px 5px;
}




					/*section-5-pictures*/

.sec5{
	padding: 100px 0;
}
.sec-5-heading{
	text-align: center;
}
.sec-5-intro{
	opacity: 0.7;
	padding: 25px 25px 35px 25px;
	text-align: center;
	font-size: 17px;
}
	/*menu*/
.menu-parrent{
	display: flex;
	justify-content: center;
	align-items: center;
}
.elements{
	opacity: 0.7;
	cursor: pointer;
	font-size: 16px;
	padding: 4px 20px;
}
.active{
	border-color: rgba(0,0,0,0.3) !important;
	border: 1px solid;
	border-radius: 5px;
}
	/*search-content*/
.search-content{
	display: flex !important;
	justify-content: flex-start !important;
	align-items: flex-start !important;
	flex-wrap: wrap;
}
.pics{
	padding: 5px;
}



				/*section-6-statistics*/



.sec-6-container{
	background-image: url(Assets/section-6-statistics/sliderBackground.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.sec-6-sub-container{
	background-color: rgba(0,0,0,0.7);
	color: white;
}
.sec-6-parent{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px 0px;
}
.sec6-elements{
	margin: 5px 0;
 	border: 1px white solid;
	padding: 10px 120px !important;
	border-color: rgba(255,255,255,0.1);
}
.elems{
	text-align: center;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}



			/*section-7-personals*/

.sec7-parrent{
	padding: 120px 0;
}
.sec7-heading{
	text-align: center !important;
}
.sec7-sub-heading{
	color: rgba(0,0,0,0.5);
	padding: 0px 30px !important;
	text-align: center !important;
	font-size: 20px;
}

/*pics*/
.a{
	display: flex !important;
	justify-content: space-between !important;
	align-items: center !important;
}
.sec-7-pics-heading{
	text-align: center !important;
	padding: 0px !important;
	margin: 0px !important;
}
.classa{
	color: black !important;
	text-decoration: none;
	cursor: pointer;
}













						/*Hover part*/



	/*header*/
.navbtn:hover{
	padding-bottom: 8px !important;
}
.aa:hover{
	margin-top: 0px !important;
	margin-bottom: 2px !important;
}
	/*video*/
.icon-parent:hover{
	background-color: rgba(0,0,0,0.5) !important;
	transition: 0.5s;
}
.splide__slide:hover > .slider-case {
	transition: 0.5s !important;
	display: block;
}
.splide__arrow:hover {
	color: rgba(255,255,255.1) !important;
}
	/*sec-4-plans*/
.text1:hover {
	color: red !important;
}
.text2:hover {
	color: red !important;
}
.text3:hover {
	color: red !important;
}
.sec-4-container2:hover{
	transform: translateZ();
}
.elements:hover{
	opacity: 0.5 !important;
}



						/*Media Query part*/

